.root {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.actionButtons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 1rem;

  button {
    background: white;
    height: 35px;
    width: 35px;

    &:hover {
      background: white;
    }
  }
}
