@import '../../../../utils/variables';

.root {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    li {
      position: relative;
      a {
        color: grey;
        text-decoration: none;
      }

      &:hover {
        a {
          color: black;
        }

        &::after {
          content: '';
          position: absolute;
          height: 3px;
          top: 4.1rem;
          background-color: $primary;
          width: 100%;
        }
      }
    }
  }
}
